.sidebar {
  left: 0;
  background-color: #f0f0f0;
  padding: 20px;
  height: 82.5vh;
  // height: 100vh;
  ul {
    list-style-type: none;
    padding: 0;
    .menu {
      position: absolute;
      display: flex;
      gap: 10px;
      margin-left: 120px;
      margin-top: -95px;
      .admin {
        font-size: 24px;
        margin-top: 8px;
      }
    }
    .teacher {
      padding-top: 10px;
    }
    li {
      cursor: pointer;

      margin-bottom: 20px;
      a {
        font-size: 24px;
        display: flex;
        gap: 10px;
        align-items: center;
        text-decoration: none;
        color: #333;
        transition: 0.1s;
      }
      a:hover {
        color: #000000;
      }
      a.active {
        font-weight: bold;
      }
    }
    a {
      text-decoration: none;
    }
    .logout {
      margin-top: 370px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      color: #333;
    }
  }
}
